@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-primary-dark: #40a8a4;
    --color-primary: #2a4b7c;
    --color-accent-yellow: #f2a100;
}

body {
    font-family: "Poppins", sans-serif;
}

.show-mode,
.show-mode:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
